<img class=" logo"src="https://firebasestorage.googleapis.com/v0/b/orphanhelp-code4iq.appspot.com/o/logo.png?alt=media&token=5265e793-0a38-41a7-9dcc-157b8af5e843">
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/home']">الرئيسية <span class="sr-only">(current)</span></a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link"[routerLink]="['/home/login']">دخول</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home/signup']"> جديد</a>
      </li>
      <li class="nav-item">
        <a class="nav-link "[routerLink]="['/home/']">عنّا</a>
      </li>
      
    </ul>
   
  </div>
</nav>


